body {
    background-color: #252830;
    margin: 0;
}

#Page-Heading {
    margin-top: 50px;
}

#Quote {
    font-size: 25px;
}

#Questions-Section {
    margin-top: 50px;
}

#Frequently-Asked-Questions-Wrapper {
    margin: 0 200px;
    text-align: center;
}