body,html {
    margin: 0;
}

#Wrapper {
    color: none;
    /* Leave blank for now */
}

#Background-Image {
    background-image: url(Images/BikeShares.jpg);
    background-size: cover;
    position: relative;
    min-height: 100%;
    background-position: center
}

#Webpage-Title {
    color: white;
    font-weight: bolder;
}

#LA-Bike-Share-Heading {
    margin-top: 50px;
}

#Quote {
    margin-top: 50px;
    color: white;
}

a:hover, a:link {
    text-decoration: none !important;
    border-bottom: 0px;
}

