body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a#Home-Tab.nav-link.active {
    background-color: #D65076;
}

#Section-Title {
    margin-top: 80px;
    margin-right: 853px !important;
    font-size: 20px;
}


#Section-Title2 {
    margin-left: 12px;
    font-size: 20px;
}

#Sub-Section {
    margin-left:100px;
}

#Home-Page {
    margin-top: 5px;
    margin-left: 400px;
}

#Heading-hr {
    border: 0;
    border-top: 1px solid #434857;
    margin-top:10px;
    margin-left: 500px;
    margin-right: 825px;
    background-color: #fff
}

#Nav-hr {
    border: 0;
    border-top: 1px solid #434857;
    margin-left: 100px;
    margin-right: 1080px;
}

#Statistical-Inferences-Wrapper {
    margin-left:300px;
}

.navigation {
    margin-top:100px;
    margin-left:75px;
}

@media only screen and (max-width:767px) {

    h1.display-2 {
        font-size: 13vw !important;
        padding: 0 20px;
        margin: 20px 0;
    }
    
    .navigation {
        margin-top:100px;
        margin-left:0px;
    }

  }