body {
    background-color: #252830 !important
}

a#Most-Popular-Trip-Routes-Tab.nav-link.active {
    background-color: #D65076;
}

#Section-Title {
    font-size: 20px;
}

#Section-Title2 {
    font-size: 20px;
}

.vertical-navigation {
    margin-top: 100px
}

@media screen and (max-width: 767px) {

    .vertical-navigation {
        margin-top: 0px
    }

}