body {
    background-color: #252830 !important
}

a#Regular-Commuters-Tab.nav-link.active {
    background-color: #D65076;
}

#Section-Title {
    /* margin-top: 80px; */
    font-size: 20px;
}


#Section-Title2 {
    margin-left: 12px;
    font-size: 20px;
}

.vertical-navigation {
    margin-top: 100px
}

@media screen and (max-width: 767px) {

    .vertical-navigation {
        margin-top: 0px
    }

}